body {
    margin: 0;
    padding: 0;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content-img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-container, .profile-container {
    position: relative;
    width: 400px;
    padding: 60px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-container h2, .profile-container h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: white;
}

.login-container .inputBox input,
.profile-container .inputBox input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1em;
    color: #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.login, .editUsername-container, .editPassword-container, .goback {
    transition: 0.2s;
    background: rgba(0, 80, 255, 0.3);
}

.login:hover, .editUsername-container:hover, .editPassword-container:hover, .goback:hover {
    background: rgba(0, 80, 255, 0.7);
    border-radius: 5px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.8);
}

.update {
    transition: 0.2s;
    background: rgba(0, 255, 80, 0.3) !important;
}

.cancel {
    transition: 0.2s;
    background: rgba(255, 0, 0, 0.3) !important;
}

.update:hover {
    background: rgba(0, 255, 80, 0.7) !important;
}

.cancel:hover {
    background: rgba(255, 0, 0, 0.7) !important;
}

.div0, .newUsername {
    text-align: center;
    font-size: 22pt;
    color: #fff;
}